[submodule "Protobuf"]
	path = Protobuf
	url = https://github.com/BinghamtonRover/Protobuf
[submodule "CanDemo/Firmware-Utilities"]
	path = CanDemo/Firmware-Utilities
	url = git@github.com:BinghamtonRover/Firmware-Utilities.git
